<form method="post" action="/snippet/create" autocomplete="off">
  <h2>Create Snippet</h2>
  <div class="group">
    <input type="text" id="description" placeholder="Snippet description" name="description" required="required" autofocus="autofocus" />
    <label for="name">Description</label>
  </div>

  <div class="group">
    <textarea id="body" name="body" class="textarea" placeholder="Enter your snippet here"></textarea>
    <label for="body">Snippet</label>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Create</button>
</form>
