<div class="viewSnippet">
<p class="snippetDescription">{{locals.description}}</p>
<textarea readonly id="body" name="body" class="textarea" autofocus="autofocus" placeholder="Enter your snippet here">{{locals.body}}</textarea>
<a class="btn btn-primary" href="/snippet" role="button">Back</a>
</div>